.remark-slide-content h2 {
  font-size: 40px;
}

h1, h2, h3 {
  font-weight: normal;
  color: #562457;
}
a, a > code {
  color: #88398a;
}
.remark-code-line-highlighted { background-color: rgba(136, 57, 138, 0.3); }

.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #fff;
}

.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: red;
}

.midle2 {
  text-align: center;
  vertical-align: middle;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.caption {
  font-size: 90%;
}
